*{
    background-color: papayawhip;
    font-family: Arial;
}
h1, h2, img {
    color:maroon;
}
div {
    font-family:sans-serif;
}
.credit{
    font-style: italic;
    color: maroon;
}
.flex-container {
    display: flex;
    flex-direction: row-reverse;
}
.image, .links {
    flex: 1;
}
.links {
    padding: 20px;
}